<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
    <br>
    <h1 align="center">Bosh tizimga hush kelibsiz!!!</h1>
    <hr>
    <br>
    <h2>Xonalar</h2>
    <a href="/xona/"> <button>Xona tizimiga otish!</button></a>
    <h2>Yonalishlar</h2>
    <a href="/yonalish/"> <button>Yonalish tizimiga otish!</button></a>
    <h2>Ustozlar</h2>
    <a href="/ustoz/"> <button>Ustoz tizimiga otish!</button></a>
    <h2>Guruhlar</h2>
    <a href="/guruh/"> <button>Guruh tizimiga otish!</button></a>
    <h2>Talabalar</h2>
    <a href="/talaba/"> <button>Talaba tizimiga otish!</button>
    </a><h2>Tolov</h2>
    <a href="/tolov/"> <button>Tolov tizimiga otish!</button></a>

</body>
</html>