<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
        <form method="get">
            <input name="nomi" type="text" placeholder="Talaba ismini yozish">
            <button>Qidirish</button>
        </form>
        <br>
        <br>
        <h1>Xamma tolovlar:</h1>
        <br>
        {%for t in tolov%}
        <h2>{{t.id}}.{{t.talaba}}-{{t.guruh}}</h2>
        <a href="/talaba_ochir/{{u.id}}"> <button>O'chirish</button></a>
        <a href="/talaba_update/{{u.id}}"> <button>Taxrirlash</button></a>
        {% endfor %}
        <br>
        <br>
        <br>
        <form  method="post">{% csrf_token %}
            <label>Talaba</label>
            <select name="talaba">
                {% for t in talaba%}
                <option value="{{t.id}}">{{t.ism}}</option>
                {% endfor %}
            </select>
            <label>Guruh</label>
            <select name="guruh">
                {% for g in guruh%}
                <option value="{{g.id}}">{{g.nom}}</option>
                {% endfor %}
            </select>
            <label>Summa</label>
            <input type="text" name="summa">
            <label>Chegirma</label>
            <input type="text" name="chegirma">
            <label>Qarz</label>
            <input type="text" name="qarz">
            <label></label>
            <button>Tolov qilish</button>
        </form>
        <hr>
        <a href="/"> <button>Bosh sahifaga otish</button></a>
</body>
</html>