<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <form method="post">{% csrf_token%}
        <label>Ism</label>
        <input type="text" name="ismi" value="{{ustoz.ism}}"><br><br>
        <label>Raqam</label>
        <input type="number" name="tel_raqami" value="{{ustoz.tel_raqam}}"><br><br>
        <label>Manzil</label>
        <input type="text" name="manzili" value="{{ustoz.manzil}}"><br><br>
        <select name="yonalish">
            {% for y in yonalish%}
            <option value="{{y.id}}">{{y.nom}}</option>
            {% endfor %}
        </select>
        <button>Taxrirlash</button>
</body>
</html>